:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: var(--spacing);
}

header .header_logo {
  font-size: var(--font-large);
}

header .header_logo i {
  color: var(--red-color);
}

header .header_icons {
  display: flex;
}

header .header_icons .fa-magnifying-glass {
  margin-right: var(--spacing);
}

/* Video Player */
.player {
  position: sticky;
  top: 0;
}

.player video {
  width: 100%;
}

/* Video Info */
.videoInfo {
  padding: var(--spacing);
}
.videoInfo .hashtags {
  display: flex;
  color: var(--blue-color);
}

.videoInfo .hashtags li {
  margin-right: var(--spacing);
}

.videoInfo .titleAndButton {
  display: flex;
  justify-content: space-between;
}

.videoInfo .titleAndButton .title {
  font-size: var(--font-regular);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: var(--spacing-small);
}

.videoInfo .titleAndButton button {
  height: 100%;
  margin-left: var(--spacing-small);
}

.videoInfo .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* Actions */
.videoInfo .actions {
  display: flex;
  justify-content: space-around;
  margin-top: var(--spacing);
}

.videoInfo .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-regular);
  color: var(--grey-dark-color);
}

.videoInfo .actions i {
  margin: 0 auto;
  margin-bottom: var(--spacing-small);
}

.videoInfo .actions i.active {
  color: var(--blue-color);
}

/* Channel Discription */
.videoInfo .channel {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing);
  padding: var(--spacing-small) 0;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.videoInfo .channel .metadata {
  display: flex;
  align-items: center;
}

.videoInfo .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: var(--spacing);
}

.videoInfo .channel .metadata .channel_info {
  display: flex;
  flex-direction: column;
}

.videoInfo .channel .metadata .channel_info .name {
  font-size: var(--font-medium);
}

.videoInfo .channel .metadata .channel_info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.videoInfo .channel button {
  margin-right: var(--spacing);
  font-size: var(--font-medium);
  padding: 0 calc(var(--spacing-small) * 3);
  background-color: var(--red-color);
  color: var(--white-color);
}

/* Up Next */
.upNext {
  padding: 0 var(--spacing);
}

.upNext > span {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
}

.upNext .moreVideos {
  display: flex;
  margin-top: var(--spacing);
}

.upNext .moreVideos .img {
  flex-basis: 35%;
  margin-right: var(--spacing);
}

.upNext .moreVideos .img img {
  width: 100%;
  height: 15vh;
}

.upNext .moreVideos .moreVideos_info {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.upNext .moreVideos .moreVideos_info .title {
  font-size: var(--font-regular);
}

.upNext .moreVideos .moreVideos_info .channel_name {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
}

.upNext .moreVideos .moreVideos_info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.moreVideos button {
  flex-basis: 5%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    display: flex;
    flex-direction: row;
  }

  .upNext {
    padding: var(--spacing);
  }
}
