:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: var(--spacing);
}

header .header_logo {
  font-size: var(--font-large);
}

header .header_logo i {
  color: var(--red-color);
}

header .header_icons {
  display: flex;
}

header .header_icons .fa-magnifying-glass {
  margin-right: var(--spacing);
}

/* Video Player */
.player {
  position: sticky;
  top: 0;
}

.player video {
  width: 100%;
}

/* Video Info */
.videoInfo .hashtags {
  display: flex;
  color: var(--blue-color);
}

.videoInfo .hashtags li {
  margin-right: var(--spacing);
}
